.existencias {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.search {
    display: flex;
    justify-content: center;
}

.field_search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 1rem;
    width: 500px;
}

.area {
    padding: 1rem;
    height: 650px;
    background-color: #fafafafa;
}

.actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}
.boton-editar {
    width: 10px; /* Establece el ancho deseado */
    height: 10px; /* Establece la altura deseada */
    background-image: url('../../../../assets/editar.png'); /* Ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir todo el botón */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    border: none; /* Elimina el borde del botón */
    cursor: pointer;
}