.roles {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.search {
    display: flex;
    justify-content: center;
}

.field_search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 1rem;
    width: 500px;
}

.area {
    padding: 1rem;
    height: 650px;
    background-color: #fafafafa;
}

.actions {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}